<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <!-- 
		Use below for normal usage.
			<add name="SoundboardConnectionString" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;UserId=soundboard;Password=12345isabadpassword!;database=soundboard;CharSet=utf8;Persist Security Info=True"/>
		Use below when generating controller, and comment out class annotations in contexts.
			<add name="SoundboardConnectionString" providerName="System.Data.SqlClient" connectionString="server=localhost;UserId=soundboard;Password=12345isabadpassword!;database=soundboard;CharSet=utf8;Persist Security Info=True"/> 
		-->
    <add name="FFFConnectionString" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;UserId=fff;Password=12345isabadpassword;database=fff;CharSet=utf8;Persist Security Info=True"/>
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>